.header-cntnr {
    background-color: #f7f7f7;
    margin: 0px auto;
    width: 100%;
    display: block;
}

.cart {
    background-color: #468DF9;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart sup {
    color: white;
    font-size: 0.7rem;
}