.search-bar{
    text-align: end;
    padding-right:30px;
    padding-top: 40px;
}
.search-bar input{
    border-radius: 5px;
    margin-right: 5px;
}
button{
    color: black;
    background-color: #fbd351;
    border-radius: 5px;
   border-color: #fbd351;
}
@media (max-width:540px) {
    .search-bar{
        text-align: center;
    }
}